{% extends "base.html" %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        With this shop hompeage template
      </p>
    </div>
  </div>
</header>
<div class="container mt-3">
  <div class="row">
    <center>
      <div class="col-8">
        <br />
        <br />
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          scelerisque mauris et lacus viverra pellentesque. Donec mollis semper
          felis, non convallis ipsum congue ac. Curabitur ligula libero,
          porttitor at volutpat sed, euismod nec purus. Nam mauris turpis,
          vulputate in quam eu, ullamcorper gravida mauris. Mauris at orci et
          sapien fringilla auctor sit amet facilisis lacus. Vivamus sodales
          mauris eu tincidunt consectetur. Vestibulum arcu justo, pulvinar
          hendrerit fringilla et, finibus vulputate dolor. Quisque hendrerit
          mattis libero, in rutrum augue ornare vitae. Nam eget aliquet elit.
          Aliquam eu erat a tellus convallis volutpat sit amet quis ex. Morbi
          nec urna luctus, fermentum tellus eget, ornare nisl. Vivamus vel
          lectus eu sapien hendrerit lobortis et in libero. 
          
          Proin scelerisqueenim id turpis accumsan malesuada. Suspendisse potenti. Phasellus
          sollicitudin mi sed sem dignissim rutrum. Mauris sollicitudin
          consequat dolor, vitae fringilla lacus porta et. Praesent tincidunt
          risus at placerat sodales. Vestibulum malesuada diam at mauris
          condimentum scelerisque. Curabitur laoreet ullamcorper risus, id
          suscipit turpis gravida a. Ut felis libero, congue ac dui id,
          hendrerit lacinia odio. Pellentesque consectetur tortor leo, nec
          fermentum dolor commodo sed. In pulvinar tellus eros, eget congue
          augue varius ac. Donec viverra, elit ac tempus fringilla, augue ligula
          accumsan felis, id hendrerit nulla massa sed nisl. Nulla lacinia
          viverra mi bibendum mattis. Sed sed viverra nisi. In nisl erat, auctor
          ut euismod in, rutrum ac enim. Duis ut felis elit.
          
          Aenean vel libero fringilla elit mattis scelerisque eget nec dui. Vestibulum sapien
          lectus, vestibulum ut quam quis, ornare dictum libero. Praesent eget
          gravida neque. Cras mollis iaculis nunc ac sagittis. Phasellus
          consequat nulla eget fringilla ultricies. Interdum et malesuada fames
          ac ante ipsum primis in faucibus. In porta nisl sit amet magna
          euismod, nec sodales urna sagittis. Maecenas rutrum ipsum vitae dui
          sollicitudin, ut accumsan risus lacinia. Nam congue odio sit amet
          finibus volutpat. Vestibulum nec ex lobortis, euismod urna at, maximus
          nulla.
        </p>
      </div>
    </center>
  </div>
</div>
{% endblock content %}
